<div class="container">
  <div id="input">
    <input type="file" (change)="onFileSelected($event)">
  </div>
  

  <div class="main">
  
    <div class="card" *ngFor="let photo of photoList" style="width: 18rem;">
      <img src="{{photo.src}}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 style.textDecoration="{{photo.textDecor}}" class="card-title">{{photo.name}}</h5>
        <button  class="btn btn-primary" (click)="deletePhoto(photo.id)">Delete</button>
      </div>
    </div>
  
  </div>
</div>

